form {
    width: 250px;
    margin: auto;
    text-align: left;
    background-color: #101010;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

input, textarea, select, span {
    display: block;
    margin-top: 10px;
}

input {
    background-color: white;
    padding: 5px
}